.detalle-container {
    background-color: #f0f8f8;
    width: 100%;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.detalle-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3em; 
    padding: 30px;
    margin-top: 2.5em;
    width: 90%;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.detalle-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.car-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    border: 1px solid #e7f1ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detalle-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px; 
    max-width: 600px;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

form label {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1.1em;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

form textarea {
    resize: none;
    height: 200px; 
}

form input[type="url"],
form input[type="text"],
form input[type="number"] {
    width: 100%;
}

form button[type="submit"] {
    background-color: #139bb4;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    border: none;
}

form button.delete-button {
    background-color: #dc3545;
}

form button.delete-button:hover {
    background-color: #c82333;
}

form button:hover {
    background-color: #218838;
}

form input:focus, form textarea:focus {
    outline-color: #007bff;
}

/* Contenedor para alinear botones */
.button-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

form button {
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #139bb4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

form input[type="url"]:focus,
form input[type="text"]:focus,
form input[type="number"]:focus,
form textarea:focus {
    outline-color: #139bb4;
    border-color: #139bb4;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
