body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 3.75em;
}

.flash-error{
  background-color: #cc0000;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}

.flash-success{
  background-color: #30cc00;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}