.home-container {
    background-color: white;
    width: 100%;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    text-align: center;
    margin-top: 60px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.vehiculos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.vehiculo-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.vehiculo-image {
    width: 300px;
    height: 225px;
    object-fit: contain;
    border-radius: 4px;
    margin-right: 20px;
}

.vehiculo-card div {
    display: flex;
    flex-direction: column;
}

.vehiculo-card h3, .vehiculo-card p {
    margin: 0;
    margin-bottom: 10px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 10em;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}
