.perfil-container {
    width: 20%;
    margin: 40px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.user-profile-pic {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.perfil-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.perfil-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.perfil-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.perfil-label {
    font-weight: bold;
}

.perfil-actions {
    text-align: center;
    margin-top: 50px;
}

.button, .button-secondary {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 10em;
    text-decoration: none;
    text-align: center;
}

.button{
    background-color: #007bff;
}

.button:hover {
    background-color: #0056b3;
}

.button-secondary{
    background-color: #5c636a;
}

.button-secondary:hover {
    background-color: #464f5a;
}
