{% extends 'base.html.twig' %}

{% block title %}CarRentals{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" rel="preload" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    
    <div class="home-container">
        <h1 class="title">Elegí que auto querés reservar</h1>
    </div>
{% endblock %}
